<div class="col-sm-6 text-left pl-5">
    <div class="text-left text-blurb p<%= orientation=="left" ? 'l' : 'r'%>-5">
        <h1><%= title%></h1>
        <p class="pt-3"><%= text%></p>
    </div>
</div>