<div class="row d-flex justify-content-center">
  <div class="col-sm-8 text-center my-5">
    <iframe class="calender" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=OXA1azNlZGxzMzJyaXVnZmJkajRvcTJvM3NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23E67C73&amp;color=%230B8043&amp;showTitle=0&amp;showNav=1&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0" style="border-width:0"  frameborder="0" scrolling="no"></iframe>
  </div>
  <div class="col-sm-4 text-center pr-5 align-self-center">
    <h1>How to get in contact</h1>
    <p class="description">The calender to the left has the most up to date meeting,
      officer hours and volunteer opportunities information including
      date, time and location. Meetings and Office hours can occasionally
      be canceled or moved so check back here before you go. If you
      have questions regarding the club you can email us at
      osumountaineering@gmail.com. You can also contact officers specifically
      regarding their position, their contact information and positions
      can be found here.</p>
    <img style="max-width: 60%;" src="<%= asset_path  "mis/logo.png"%>">
  </div>
</div>



