<%
options = []
(2019..Date.today.year).each do |year|
  options << {text: year, link: photo_archive_path(id: year)}
end
%>
<%= render partial: "layouts/dropdown", locals: {current_selection: @year, options: options} %>

<div class="row px-3">
  <%imgFile = YAML.load(File.read "#{Rails.root}/app/views/static_pages/data/#{@year}_photos.yml" ) %>
  <% imgFile.each do |images| %>
    <div class="col-md-4 px-1">
      <% images.each do |image| %>
        <div class="py-1">
          <%imgpath = asset_path "#{@year}/#{image}"%>
          <a href="<%= imgpath %>" data-size="1600x1067">
            <img class="rounded" src="<%= imgpath %>" style="width:100%">
          </a>
        </div>
      <%end %>
    </div>
  <% end %>
</div>