/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

$scarlet: #bb0000;
$scarlet-hover: #8b0000;

body, wrapper {
  min-height:100vh;
}

@font-face {
  font-family: "Raleway";
  src: url('app/assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: "OpenSans";
  src: url('app/assets/fonts/OpenSans-Regular.ttf');
}

h1,h2,h3,h4,h5 {
  font-family: "OpenSans";
}

p{
  font-family: "OpenSans";
}

.description{
  font-size: 1.1rem;
}

.calender{
  height: 90vh;
  width: 60vw
}

.dropdown-item.active{
  color: black;
  background-color: #ddd;
}

.dropdown-item:active{
  color: black;
  background-color: transparent;
}

.btn{
  background-color: $scarlet;
  color: white;
  height: calc(1.5em + 0.75rem + 18px);
  font-size: 1.1rem;
  border: none !important;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary.active:not(:disabled):not(.disabled), .show > .btn-secondary.dropdown-toggle {
  background-color: $scarlet-hover;
}

.btn-secondary:hover {
  background-color: $scarlet-hover;
}

footer{
  height: 56px;
  margin-top: 2vh;
}

footer div{
  height: inherit;
}
footer svg{
  fill: white;
  height: 60%;
  margin-top: 30%;
}